extends layout

block content
    main#hero
        .centered
            h1 BrackeysBot
            a.authButton(href='/auth/discord') Login with Discord to start!
            
            if user
                p= "Welcome " + user.username + "!"